input.ng-invalid.ng-touched {
    border: 1px solid #DA3637;
}

input.ng-valid.ng-touched {
    border: 1px solid #509D12;
}

.error {
    color: red !important;
}

.ng-invalid .modal-footer .btn-primary {
    background-color: #6c757d !important;
}